@model Shop.Models.Product
@{
    var isEdit = Model.Id > 0;
    ViewData["Title"] = isEdit ? "تعديل" : "إنشاء";
    var action = isEdit ? "Edit" : "Create";
}
<div class="card">
    <div class="flex items-center gap-2 p-2">
        <a asp-area="Admin" asp-controller="Products" asp-action="Index" class="btn btn-sky btn-xs">
            <i class="icon bi-arrow-right"></i>
            <span>عودة</span>
        </a>
        @if (isEdit)
        {
            <a asp-area="Admin" asp-controller="Products" asp-action="Create" asp-route-id="" class="btn btn-green btn-xs">
                <i class="icon bi-plus-lg"></i>
                <span>إضافة</span>
            </a>
        }

    </div>
    <div class="card-body">
        <form asp-action="@action" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div class="grid grid-cols-1 gap-3">

                <div class="col">
                    <label asp-for="Name" class="form-label">اسم المنتج</label>
                    <input asp-for="Name" class="form-control" required />
                    <span asp-validation-for="Name" class="form-control-error"></span>
                </div>
                <div class="col">
                    <label class="form-label">صورة المنتج</label>
                    <div class="relative w-60 aspect-video rounded-2xl border overflow-hidden">
                        @if (!string.IsNullOrEmpty(Model.ImageUrl))
                        {
                            <img src="@Model.ImageUrl" alt="صورة المنتج" class="w-full h-full object-center object-cover" />
                        }
                        <a href="@Url.Action("DeleteImage", "Products", new { id = Model.Id })"
                            class="btn-circle btn-circle-sm btn-circle-red absolute top-2 end-2">
                            <i class="icon bi-trash-fill"></i>
                        </a>
                        <label for="file"
                            class="btn-circle btn-circle-green absolute top-1/2 -translate-y-1/2 start-1/2 translate-x-1/2">
                            <i class="icon bi-cloud-upload"></i>
                        </label>
                    </div>
                    <input type="file" id="file" name="ImageFile" class="hidden" accept="image/*" />
                </div>
                <div class="col">
                    <label asp-for="Description" class="form-label">الوصف</label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Description" class="form-control-error"></span>
                </div>
                <div class="col">
                    <label asp-for="CategoryId" class="form-label">التصنيف (اختياري)</label>
                    <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control">
                        <option value="">-- اختر التصنيف --</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="form-control-error"></span>
                </div>
                <div class="col">
                    <div class="grid grid-cols-1 md:grid-cols-4 gap-3">
                        <div class="col">
                            <label asp-for="Price" class="form-label">السعر</label>
                            <input asp-for="Price" class="form-control" step="0.01" required />
                            <span asp-validation-for="Price" class="form-control-error"></span>
                        </div>
                        <div class="col">
                            <label asp-for="OfferPrice" class="form-label">السعر المخفض</label>
                            <input asp-for="OfferPrice" class="form-control" step="0.01" />
                            <span asp-validation-for="OfferPrice" class="form-control-error"></span>
                        </div>
                        <div class="col">
                            <label asp-for="OfferDate" class="form-label">تاريخ انتهاء العرض</label>
                            <input asp-for="OfferDate" type="datetime-local" class="form-control" />
                            <span asp-validation-for="OfferDate" class="form-control-error"></span>
                        </div>
                        <div class="col">
                            <label asp-for="Stock" class="form-label">الكمية في المخزون</label>
                            <input asp-for="Stock" type="number" class="form-control" required />
                            <span asp-validation-for="Stock" class="form-control-error"></span>
                        </div>
                    </div>

                </div>

                <div class="col">
                    <button type="submit" class="btn btn-sky">حفظ</button>
                </div>
            </div>
        </form>
    </div>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
